In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame(np.random.rand(150).reshape(15,10))
df

,0,1,2,3,4,5,6,7,8,9
0,0.068578,0.377847,0.389315,0.703084,0.441374,0.056140,0.712603,0.293695,0.020135,0.776837
1,0.806745,0.678475,0.142166,0.908285,0.980542,0.689428,0.985093,0.052599,0.992484,0.158581
2,0.992584,0.201328,0.826388,0.792225,0.230089,0.821068,0.559376,0.518980,0.834082,0.953468
3,0.229390,0.255080,0.543192,0.927513,0.034554,0.893547,0.547297,0.600369,0.025653,0.980525
4,0.988406,0.929039,0.117211,0.609275,0.331927,0.560342,0.941644,0.900256,0.822286,0.643440
5,0.966914,0.744044,0.762431,0.700183,0.829709,0.316095,0.584446,0.395862,0.008882,0.126750
6,0.440631,0.352177,0.787517,0.883598,0.885012,0.512638,0.369705,0.974422,0.019721,0.864121
7,0.990255,0.227740,0.523939,0.005601,0.574822,0.671088,0.491806,0.325592,0.532280,0.990985
8,0.656799,0.999553,0.477045,0.178431,0.571831,0.323876,0.188072,0.879004,0.875926,0.093394
9,0.441062,0.259029,0.185006,0.594776,0.258313,0.785213,0.091264,0.149695,0.684983,0.344830
10,0.023800,0.441405,0.528309,0.479405,0.622834,0.884915,0.832942,0.345232,0.263022,0.220844
11,0.099138,0.600673,0.125123,0.783940,0.579392,0.227265,0.393834,0.950679,0.090282,0.964790
12,0.115142,0.269015,0.005637,0.912048,0.836713,0.731377,0.459875,0.542327,0.937290,0.699709
13,0.896220,0.777852,0.254095,0.665677,0.955326,0.441623,0.384400,0.429040,0.032513,0.768598
14,0.302440,0.270368,0.640974,0.845452,0.962160,0.747735,0.250211,0.537283,0.340450,0.929259

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.068578,0.377847,0.389315,0.703084,0.441374,0.056140,0.712603,0.293695,0.020135,0.776837
1,0.806745,0.678475,0.142166,0.908285,0.980542,0.689428,0.985093,0.052599,0.992484,0.158581
2,0.992584,0.201328,0.826388,0.792225,0.230089,0.821068,0.559376,0.518980,0.834082,0.953468
3,0.229390,0.255080,0.543192,0.927513,0.034554,0.893547,0.547297,0.600369,0.025653,0.980525
4,0.988406,0.929039,0.117211,0.609275,0.331927,0.560342,0.941644,0.900256,0.822286,0.643440

In [4]:
df.describe()

,0,1,2,3,4,5,6,7,8,9
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,0.534540,0.492242,0.420557,0.665966,0.606306,0.577490,0.519505,0.526336,0.431999,0.634409
std,0.381563,0.272442,0.269719,0.269461,0.300521,0.256474,0.262359,0.289204,0.392030,0.345580
min,0.023800,0.201328,0.005637,0.005601,0.034554,0.056140,0.091264,0.052599,0.008882,0.093394
25%,0.172266,0.264022,0.163586,0.602026,0.386651,0.382750,0.377053,0.335412,0.029083,0.282837
50%,0.441062,0.377847,0.477045,0.703084,0.579392,0.671088,0.491806,0.518980,0.340450,0.768598
75%,0.931567,0.711259,0.592083,0.864525,0.860862,0.766474,0.648525,0.739687,0.828184,0.941364
max,0.992584,0.999553,0.826388,0.927513,0.980542,0.893547,0.985093,0.974422,0.992484,0.990985

In [7]:
col1 = df[0]
col1.head()

0    0.068578
1    0.806745
2    0.992584
3    0.229390
4    0.988406
Name: 0, dtype: float64

In [8]:
#

In [12]:
col1

0     0.068578
1     0.806745
2     0.992584
3     0.229390
4     0.988406
5     0.966914
6     0.440631
7     0.990255
8     0.656799
9     0.441062
10    0.023800
11    0.099138
12    0.115142
13    0.896220
14    0.302440
Name: 0, dtype: float64

In [15]:
col1[np.abs(col1)>0]
#same in DF

0     0.068578
1     0.806745
2     0.992584
3     0.229390
4     0.988406
5     0.966914
6     0.440631
7     0.990255
8     0.656799
9     0.441062
10    0.023800
11    0.099138
12    0.115142
13    0.896220
14    0.302440
Name: 0, dtype: float64

In [17]:
#col1[np.abs(col1)>0] = np.sign(df)*5